@font-face {
    font-family: 'Exo 2';
    src: url('assets/fonts/semiBold/Exo2-SemiBold.woff2') format('woff2'),
        url('assets/fonts/semiBold/Exo2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('assets/fonts/black/Exo2-Black.woff2') format('woff2'),
        url('assets/fonts/black/Exo2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url("assets/fonts/regular/Exo2-Regular.woff2") format('woff2'),
        url("assets/fonts/regular/Exo2-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('assets/fonts/medium/Exo2-Medium.woff2') format('woff2'),
        url('assets/fonts/medium/Exo2-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

