/* Add a black background color to the top navigation */
.topnav {
  background-color: #1D3557;
  overflow: hidden;
  font-family: 'Exo 2';
  font-weight: 600;
  
  /* Style the links inside the navigation bar */
  .item {
    float: left;
    color: #F1FAEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
  
  /* Change the color of links on hover */
  a:hover {
    background-color: #A8DADC;
    color: #1D3557;
  }

  a.active {
    color: #F1FAEE;
    background-color: #457B9D;
  }

  a.active:hover {
    background-color: #A8DADC;
    color: #1D3557;
  }
}