<footer *ngIf='router.url!="/login"' class="container-fluid bg-grey py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 ">
            <div class="logo-part">
              <h1 class="find">Computer Database</h1>
              <p>45-47 Avenue Carnot, 94230  <br>Cachan</p>
              <p>Application de gestion d'ordinateur de haut Niveau</p>
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h6>Apropos de nous</h6>
            <p>Excilys vous aide à relever les challenges techniques et vous accompagne dans la réussite de vos projets.</p>
            <a href="http://www.excilys.com/" class="btn-footer"> Plus d'Info </a><br>
            <a mailto="contact@excilys.com" class="btn-footer"> Contactez Nous</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-4">
            <h6>Menu</h6>
            <div class="row ">
              <div class="col-md-6">
                <ul>
                  <li> <a href="/computers"> Acceuil</a> </li>
                  <li> <a href="https://www.facebook.com/Excilys/"> Apropos de nous</a> </li>
                  <li> <a mailto="contact@excilys.com"> Contact</a> </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-6 ">
            <h6> Newsletter</h6>
            <div class="social">
              <a href="https://www.facebook.com/Excilys/" ><i class="sc fa fa-facebook-square" ></i></a>
              <a href="https://twitter.com/excilys?lang=fr" ><i class="fa fa-twitter-square"></i></a>
              <a href="https://fr.linkedin.com/company/groupe-excilys" ><i class="fa fa-linkedin-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
