<ejs-grid #grid [dataSource]='data' [toolbar]='toolbar' [editSettings]='editSettings'
    [allowSorting]='true' [allowFiltering]='true' (actionBegin)='actionBegin($event)'
    (actionComplete)='actionComplete($event)'>
    <e-columns>
        <e-column field='id' headerText='ID' width='80' textAlign='Right' isPrimaryKey='true'></e-column>
        <e-column field='name' headerText='Computer Name' width='160'></e-column>
        <e-column field='introduced' headerText='Introduced date' width='160' textAlign='Right'></e-column>
        <e-column field='discontinued' headerText='Discontinued date' width='160' textAlign='Right'></e-column>
        <e-column field='nameCompany' headerText='Company Name' width='160' textAlign='Right'></e-column>
    </e-columns>
    <ng-template #editSettingsTemplate let-data>
        <div [formGroup]="orderForm">
            <table class="e-table e-inline-edit" cellspacing="0.25">
                <colgroup>
                    <col style="width: 80px;">
                    <col style="width: 160px;">
                    <col style="width: 160px;">
                    <col style="width: 160px;">
                    <col style="width: 160px;">
                </colgroup>
                <tbody>
                    <tr>
                        <td style="text-align: right" class='e-rowcell'>
                            <div class="e-input-group" [ngClass]='e-disabled'>
                                <input class="e-input e-field" [attr.disabled]="true" formControlName="id" name='id'
                                    type="text" style="text-align: right"/>
                            </div>
                        </td>
                        <td class='e-rowcell'>
                                <ejs-textbox class="e-input e-field" name='name' formControlName="name"
                                ></ejs-textbox>
                        </td>
                        <td style="text-align: right" class='e-rowcell'>
                                <ejs-datepicker name='introduced' formControlName="introduced"
                                (change)="setMinDiscontinued($event.value)" [min]="1970-01-01" [max] = "maxIntroduced" >
                                </ejs-datepicker>
                            
                        </td>
                        <td style="text-align: right" class='e-rowcell'>
                            
                                <ejs-datepicker name='discontinued' formControlName="discontinued" 
                                (change)="setMaxIntroduced($event.value)" [min]="minDiscontinued">
                                </ejs-datepicker>
                            
                        </td>
                        <td style="text-align: right" class='e-rowcell'>
                            <ejs-dropdownlist id="nameCompany" name="idCompany" formControlName="idCompany"
                                [dataSource]='companies' [fields]="{text: 'name', value: 'id' }" popupHeight='300px'
                                floatLabelType='Never'></ejs-dropdownlist>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</ejs-grid>

<mat-paginator [length]="length"
              [pageSize]="10"
              [pageSizeOptions]="[10,50,100]"
              [showFirstLastButtons]=true
              (page)="updatePage($event)">
</mat-paginator>