<ejs-grid #grid [dataSource]='data' [allowPaging]='true' [editSettings]='editSettings' [allowSorting]='true' [allowFiltering]='true' [pageSettings]='pageSettings'>
    <e-columns>
        <e-column field='id' headerText='ID' width='120' textAlign='Right'></e-column>
        <e-column field='name' headerText='Computer Name' width='160'></e-column>
        <e-column field='introduced' headerText='Introduced date' width='160'></e-column>
        <e-column field='discontinued' headerText='Discontinued date' width='160'></e-column>
        <e-column field='nameCompany' headerText='Company Name' width='120' textAlign='Right'></e-column>
    </e-columns>
  </ejs-grid>
