<div class="computer" id="haut">
    <ejs-grid #grid [dataSource]='data' [toolbar]='toolbar' [editSettings]='editSettings' [allowSorting]='true'
        [allowFiltering]='true' (dataBound)='dataBound($event)' (actionBegin)='actionBegin($event)'
        (actionComplete)='actionComplete($event)'>
        <e-columns>
            <e-column field='name' headerText='Computer Name' width='160'
                [validationRules]='{required:[true,"The name is required"]}'></e-column>
            <e-column field='introduced' headerText='Introduced date' width='160' textAlign='Right' [allowFiltering]='false'></e-column>
            <e-column field='discontinued' headerText='Discontinued date' width='160' textAlign='Right' [allowFiltering]='false'></e-column>
            <e-column field='nameCompany' headerText='Company Name' width='160' textAlign='Right'></e-column>
        </e-columns>
        <ng-template #editSettingsTemplate let-data>
            <div [formGroup]="orderForm" id="formID">
                <table class="e-table e-inline-edit" cellspacing="0.25">
                    <colgroup>
                        <col style="width: 160px;">
                        <col style="width: 160px;">
                        <col style="width: 160px;">
                        <col style="width: 160px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class='e-rowcell'>
                                <div class="e-input-group">
                                    <input class="e-input" name='name' formControlName="name" type="text"
                                        (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
                                </div>
                            </td>
                            <td style="text-align: right" class='e-rowcell'>
                                <ejs-datepicker id='introduced' name='introduced' formControlName="introduced"
                                    (change)="setMinDiscontinued($event.value)" [allowEdit]="false" [min]="defaultMin"
                                    [max]="maxIntroduced">
                                </ejs-datepicker>
                            </td>
                            <td style="text-align: right" class='e-rowcell'>
                                <ejs-datepicker id='discontinued' name='discontinued' formControlName="discontinued"
                                    (change)="setMaxIntroduced($event.value)" (open)="fix($event)" [allowEdit]="false"
                                    [min]="minDiscontinued" [max]="defaultMax">
                                </ejs-datepicker>
                            </td>
                            <td style="text-align: right" class='e-rowcell'>
                                <ejs-dropdownlist id="nameCompany" name="idCompany" formControlName="idCompany"
                                    [dataSource]='companies' [fields]="{text: 'name', value: 'id' }" popupHeight='300px'
                                    floatLabelType='Never'></ejs-dropdownlist>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ejs-grid>
</div>
<div class="paginator">
    <mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[10,50,100]" [showFirstLastButtons]=true
        (page)="updatePage($event)">
    </mat-paginator>
</div>
<div class="example-button-row" [hidden]="hidden">
  <div class="example-row">
  <a href="/computers#haut">
    <button mat-mini-fab aria-label="haut" class="btn-haut">
      <mat-icon class="mat-icon-haut">expand_less</mat-icon>
    </button>
  </a>
  </div>
</div>
