.topnav {
  background-color: #1D3557;
  overflow: hidden;
  font-family: 'Exo 2';
  font-weight: 600;


  /* Style the links inside the navigation bar */
  .item {
    float: left;
    color: #FFFFEA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  /* Change the color of links on hover */
  a:hover {
    background-color: #F1FAEE;
    color: #1D3557;
    cursor: pointer;
  }

  a.active {
    color: #1D3557;
    background-color: #D8D8D8;
  }

  a.active:hover {
    background-color: #F1FAEE;
    color: #1D3557;
  }
}
