.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #1A237E;
    border-radius: 10px;
    padding: 20px 50px 30px 50px;
    background-color: #FFFFEA;
}

.mat-divider {
    margin-bottom: 20px;
}
  
.example-container > * {
    width: 100%;
}

.parent {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 20px;
        font-family: 'Exo 2';
        font-weight: 600;
        color: #1A237E;
    }

    button {
        font-family: 'Exo 2';
        font-weight: normal;
    }

    .mat-stroked-button:not([enabled]) {
        cursor: not-allowed;
    }

    .mat-stroked-button:not([disabled]) {
        cursor: pointer;
        border-color: #1A237E;
        color: #1A237E;
    }

    mat-form-field {
        font-family: 'Exo 2';
        font-weight: normal;
        margin-bottom: 10px;
    }
}